<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link th:href="@{style.css}" rel="stylesheet"/>



</head>
<body>

<header class="head">

    <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>
    <nav>
        <ul class="nav_links">
            <li><a href="/">All students</a></li>
            <li><a href="/createstudent">Register student</a></li>
            <li><a href="#">All courses</a></li>
            <li><a href="#">Register courses</a></li>
        </ul>
    </nav>

    <a href="/contact"><button>Contact</button></a>

</header>

<main>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Start Date</th>
        </tr>


            <tr th:each="student:${list}">

                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.startDate}"></td>
                <td><a href="#" class="btn btn-success">Details</a></button></td>
                <td><a href="/editstudent" class="btn btn-info">Edit</a></td>
                <!--<td><a th:href="@{'/delete/' + ${student.cpr}}" class="btn btn-danger">Delete</a></td>-->
                <td><a href="${pageContext.request.contextPath }" th:href=" @{'/delete/' + ${student.cpr}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a></td>


            </tr>
    </table>
</main>

<footer></footer>

</body>
</html>