<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {
            border-collapse: collapse; /*https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_border-collapse3*/
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px 8px 5px 8px; /*https://www.w3schools.com/csS/css_padding.asp*/
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<header></header>

<main>
    <h1>Hello World</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Start Date</th>
        </tr>


            <tr th:each="student:${list}">

                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.startDate}"></td>
                <td><button><a href="#">Details</a></button></td>
                <td><button><a href="#">Edit</a></button></td>
                <td><button><a href="#">Delete</a></button></td>

            </tr>


    </table>
</main>

<footer></footer>

</body>
</html>