<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link th:href="@{style.css}" rel="stylesheet"/>

</head>
<body>



    <header class="head">


        <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>

        <nav>

            <ul class="nav_links">
                <li><a href="/">All students</a></li>
                <li><a href="/createstudent">Register student</a></li>
                <li><a href="/courses">All courses</a></li>
                <li><a href="/createcourse">Register courses</a></li>
            </ul>

        </nav>

        <a href="#"><button class="contact_button" >Log out</button></a>



    </header>

<div class="container">

    <main>

        <h1>List of courses</h1>

        <table>
            <tr>
                <th>Course Name</th>
                <th>Start Date</th>
                <th>Course Description</th>
                <th>Etcs</th>

            </tr>
            <tr th:each="course:${list}">

                <td th:text="${course.courseName}"></td>
                <td th:text="${course.startDate}"></td>
                <td th:text="${course.courseDescription}"></td>
                <td th:text="${course.etcs}"></td>

                <td><a href="#" class="btn btn-success">Details</a></td>
                <td><a href="#" class="btn btn-info">Edit</a></td>
                <!--<td><a th:href="@{'/delete/' + ${student.cpr}}" class="btn btn-danger">Delete</a></td>-->
                <td><a href="#" class="btn btn-danger">Delete</a></td>

            </tr>
        </table>
    </main>
    <hr/>
    <footer>
        <p>© 2020 - HSM</p>
    </footer>
</div>

