<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <form action="/created" method="post">
        <label for="name">First Name</label><br/>
        <input type="text" name="firstName" id="name" required><br/>



        <label for="last">Last Name</label><br/>
        <input type="text" name="lastName" id="last" required><br/>



        <label for="start">Starts Dato</label><br/>
        <input type="text" name="startDate" id="start"required><br/>



        <label for="cpr">Cpr Number</label><br/>
        <input type="number" name="cpr" id="cpr"required><br/>

        <input type="submit" name="submit"><br/>
</form>
</div>
</body>
</html>