<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header class="head">

    <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>

    <nav>

        <ul class="nav_links">
            <li><a href="/">All students</a></li>
            <li><a href="/createstudent">Register student</a></li>
            <li><a href="/courses">All courses</a></li>
            <li><a href="/createcourse">Register courses</a></li>
        </ul>

    </nav>

    <a href="/contact"><button class="contact_button" >Contact</button></a>

</header>

<br/>
<div class="row justify-content-center"><h1>Create student</h1></div>

<div class="row justify-content-center">
    <form action="/created" method="post">

        <div class="form-group">
        <label for="name">First Name</label><br/>
        <input type="text" name="firstName" id="name" placeholder="Enter first name" class="form-control" required><br/>
        </div>

        <div class="form-group">
        <label for="last">Last Name</label><br/>
        <input type="text" name="lastName" id="last" placeholder="Enter last name" class="form-control" required><br/>
        </div>

            <div class="form-group">
        <label for="start">Start Date</label><br/>
        <input type="text" name="startDate" id="start" placeholder="Enter date" class="form-control" required><br/>
            </div>

                <div class="form-group">
        <label for="cpr">Cpr Number</label><br/>
        <input type="number" name="cpr" id="cpr" placeholder="Enter cpr" class="form-control" required><br/>
                </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary" name="save">Save</button>
        </div>
</form>
</div>

<div class="container">
    <footer>
        <hr/>
        <p>© 2020 - HSM</p>
    </footer>
</div>

</body>
</html>