<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Delete</title>

</head>
<body>

<form action="/deleted" method="post">

    <label for="name">First Name</label><br/>
    <input type="text" name="firstName" id="name" required><br/>

    <label for="cpr">Cpr Number</label><br/>
    <input type="number" name="cpr" id="cpr"required><br/>

    <input type="submit" name="submit"><br/>

    </form>

</body>
</html>