<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{style.css}" rel="stylesheet"/>
    <title>Delete</title>

</head>
<body>
<header class="head">

    <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>
    <nav>
        <ul class="nav_links">
            <li><a href="/">All students</a></li>
            <li><a href="/createstudent">Register student</a></li>
            <li><a href="#">All courses</a></li>
            <li><a href="#">Register courses</a></li>
        </ul>
    </nav>

    <a href="/contact"><button>Contact</button></a>

</header>

<div class="row justify-content-center">

    <h1>Delete student</h1>

</div>
<div class="row justify-content-center">

    <h3>Please confirm information to delete student</h3>
</div>



<div class="row justify-content-center">



<form action="/deleted" method="post">

    <div class="form-group" >
    <label for="name">First Name</label><br/>
    <input type="text" name="firstName" id="name" value="Type First name" class="form-control" required><br/>
    </div>

        <div class="form-group">
    <label for="cpr">Cpr Number</label><br/>
    <input type="number" name="cpr" id="cpr" value="Type cpr number" class="form-control" required><br/>
        </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger" name="submit">DELETE</button><br/>
            </div>
    </form>
</div>
</body>
</html>