<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"

</head>
<body>

<header class="head">

    <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>

    <nav>

        <ul class="nav_links">
            <li><a href="/">All students</a></li>
            <li><a href="/createstudent">Register student</a></li>
            <li><a href="/courses">All courses</a></li>
            <li><a href="/createcourse">Register courses</a></li>
        </ul>

    </nav>

    <a href="/contact"><button class="contact_button" >Contact</button></a>

</header>

<div class="container">
    <br/>
    <h1>Student details</h1>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Start date</th>
            <th>Cpr</th>
        </tr>
        <tr>
            <td th:text="${firstName}"></td>
            <td th:text="${lastName}"></td>
            <td th:text="${startDate}"></td>
            <td th:text="${cpr}"></td>

        </tr>
    </table>

    <footer>
        <hr/>
        <p>© 2020 - HSM</p>
    </footer>

</div>



</body>
</html>