<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
</head>
<body>

<header class="head">

    <a href="/"><img class="logo" th:src="@{/img/stud-logo.png}" alt="kea logo"/></a>
    <nav>
        <ul class="nav_links">
            <li><a href="/">All students</a></li>
            <li><a href="/createstudent">Register student</a></li>
            <li><a href="#">All courses</a></li>
            <li><a href="#">Register courses</a></li>
        </ul>
    </nav>

    <a href="#"><button class="contact_button" >Log out</button></a>


</header>


<div class="row justify-content-center">
    <form action="/edited" method="post">

        <div class="form-group">
            <label for="name">First Name</label><br/>
            <input type="text" name="firstName" id="name" th:value="${firstName}" class="form-control" required><br/>
        </div>

        <div class="form-group">
            <label for="last">Last Name</label><br/>
            <input type="text" name="lastName" id="last" th:value="${lastName}" class="form-control" required><br/>
        </div>

        <div class="form-group">
            <label for="start">Start Date</label><br/>
            <input type="text" name="startDate" id="start" th:value="${startDate}" class="form-control" required><br/>
        </div>

        <div class="form-group">
            <input type="hidden" name="cpr" id="cpr" th:value="${cpr}" class="form-control" required><br/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="submit">Update</button>
        </div>
    </form>
</div>


</body>
</html>